/*@import "~jquery-ui-dist/jquery-ui.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";
@import "~bootstrap-slider/dist/css/bootstrap-slider.min.css";*/

@import "../../../node_modules/jquery-ui-dist/jquery-ui.min.css";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";
@import "../../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css";
@import "../../../node_modules/awesome-notifications/dist/style.css";

html,
body,
.main {
  width: 100%;
  height: 100%;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  font-family: "Rajdhani", sans-serif;
}

.container-fluid {
  height: 100%;
}

.farm-draw-zone {
  border: 1px solid #333333;
  position: relative;
  background-repeat: no-repeat
}

.rect {
  position: absolute !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
}

.rect:hover {
  cursor: pointer;
}

.cursorDraw {
  cursor: crosshair !important;
}

.rect.active {
  /* border:1px dashed #b4b4b4; */
  outline: 2px dashed #dc3545;
  box-sizing: border-box;
  /* background-color: yellow !important; */
}

#nwgrip,
#negrip,
#swgrip,
#segrip,
#ngrip,
#egrip,
#sgrip,
#wgrip {
  width: 1.8vw;
  height: 1.8vw;
  background-color: #ffffff;
  border: 1px solid #9e9e9e;
  position: absolute;
  z-index: 99;
}

#nwgrip {
  left: -5px;
  top: -5px;
  cursor: nw-resize;
}

#negrip {
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}

#swgrip {
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}

#segrip {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
}

#ngrip {
  top: -5px;
  left: 50%;
  cursor: n-resize;
}

#sgrip {
  bottom: -5px;
  left: 50%;
  cursor: s-resize;
}

#wgrip {
  left: -5px;
  top: 50%;
  cursor: w-resize;
}

#egrip {
  right: -5px;
  top: 50%;
  cursor: e-resize;
}

div.radius {
  border-radius: 50%;
}

#designCard .card-body {
  max-height: 100% !important;
}

button#draw,
#objectInfCard {
  display: none;
}

div#drawingObjectBlock {
  display: none;
}

div.fg-switch-block {
  right: 0px;
  top: 10px;
}

#saveElement,
#backStep {
  display: none;
}

#routingDropDown>.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
  color: #212529;
}

#routingDropDown button:focus {
  outline: 0px !important;
  /* outline: 5px auto -webkit-focus-ring-color; */
}

.routing-selector-box {
  border-width: 2px !important;
  width: 15px;
  height: 15px;

}

.nodecor {
  text-decoration: none !important;
}

.tooltip.in {
  opacity: 1 !important;
}

.show-route {
  -moz-box-shadow: 5px 5px 5px 0px #6b6b6b;
  -webkit-box-shadow: 5px 5px 5px 0px #6b6b6b;
  box-shadow: 5px 5px 5px 0px #6b6b6b;
}

.dropdown-menu.open {
  display: block;
}

.slider.slider-horizontal {
  width: 100% !important;
}

.rect-name {
  position: absolute;
  text-align: center;
  font-size: 2.5vw;
  padding: 0 10px;
  top: 20px;
  bottom: 20px;
  left: 50%;
  width: 100%;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  transform: translateX(-50%);
}

button#canvasProperties[aria-expanded="true"]>i:before {
  content: "\F0D8";
}

.mini-search-icon {
  font-size: 10px;
  padding: 5px;
}

.add-new-routing-element {
  font-size: 10px;
  height: 25px;
}

.remove-routing-icon {
  font-size: 13px;
  position: absolute;
  top: 0px;
  right: 6px;
  color: rgb(195, 10, 20);
}

.fg-lagenda .badge {
  /*width: 25px;*/
  width: auto;
  height: 25px;
  border-width: 2px !important;
  border-style: solid;
  border-color: transparent;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.fg-lagenda .badge:not(.show-hierarchy):hover {
  opacity: 0.5;
}

.popover {
  z-index: 9999;
  /* A value higher than 1010 that solves the problem */
}

.preloader {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
  background-image: url('/assets/images/progressIndicator.gif');
  background-repeat: no-repeat;
  background-position: center;
}

.preloader>div {
  font-size: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

#awn-toast-container.awn-left {
  left: 15px !important;
}

#awn-toast-container.awn-top {
  top: 0px !important;
}

#rightCustomScrollBar {
  height: 100% !important;
}

.slider-handle {
  background-color: #c30a14;
  background-image: linear-gradient(to bottom, #c30a14 0, #c30a14 100%);
}

.btn-t4c {
  color: #fff;
  background-color: #c30a14;
  border-color: #c30a14;
}

.btn-t4c:hover {
  background-color: #cf1821;
  border-color: #cf1821;
  color: #ebebeb !important;
}

.example-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.badge.show-hierarchy {
  cursor: pointer;
}

.badge.show-hierarchy[aria-expanded=true]:before {
  content: '\21E7';
}

.badge.show-hierarchy:before {
  content: '\21E9';
  margin-right: 5px;
}

.hierarchy-block {
  top: 30px;
  background-repeat: no-repeat;
  right: 0px;
  width: 180px;
  height: 83px;
  opacity: 1;
  z-index: 999;
}

.require-connect:before {
  content: 'Warning';
  background: url(/assets/images/map-warning-icon.svg) no-repeat;
  background-size: contain;
  background-position: top right;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  text-indent: -999em;
}

.require-connect-warning {
  padding: 5px;
  max-width: 250px;
  background: #cf1821;
  position: absolute;
  z-index: 10;
  display: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.require-connect-warning:after {
  top: 100%;
  right: 5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #cf1821;
  border-width: 5px;
}

.active-type {
  border-width: 2px !important;
  border-style: solid;
  border-color: transparent;
}

#drawingObjectBlock .card-header {
  padding: 5px 20px;
}

.vertical-text{
  writing-mode: vertical-rl;
text-orientation: mixed;
}

.cubicle{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#unsavedChanges{
  font-size:13px;
}